@using ProyectoFinal.Models
@model Empleado

@{
    ViewBag.Title = "Home Page";
}

<dl class="menulateral">
    @{ Html.RenderAction("Modulos", "Home"); }
</dl>

<div class="col-lg-12 informativo">
    <address>
        QUE SE YO<br />
        jajjajajajajajaj,-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
</div>
