
<dl class="menulateral">
    <dt class="logo" name="logo">
        <img src="~/Images/viabanalogo.png" style="width:150px; height:150px; margin-left:15px">
    </dt>
    <dt class="menulateralopcion" name="compra">
        <a class="adt">@Html.ActionLink("Compra","Compra","Home", null, new { @class = "menuAtionLink" })</a>
    </dt>
    <dt class="menulateralopcion" name="venta">
        <a class="adt">@Html.ActionLink("Venta","Venta","Home", null, new { @class = "menuAtionLink" })</a>
    </dt>
    <dt class="menulateralopcion" name="liquidacion">
        <a class="adt">@Html.ActionLink("Proveedores", "Proveedor", "Home", null, new { @class = "menuAtionLink" })</a>
    </dt>
    <dt class="menulateralopcion" name="personal">
        <a class="adt">@Html.ActionLink("Personal", "Personal", "Home", null, new { @class = "menuAtionLink" })</a>
    </dt>
</dl>
