@using ProyectoFinal.Models;

@model ModuloProveedores
@{
    ViewBag.Title = "Compra";
}



<dl class="menulateral">
    @{ Html.RenderAction("Modulos", "Home", "Compra"); }
</dl>

<div class="col-lg-12 informativo">
    <h2 class="tituloModulo">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    
    <div class="col-lg-12 informativo">
        <h4>Proveedores</h4>
        @ViewBag.Proveedor
    </div>

</div>
